absl-py==2.0.0
altgraph @ file:///AppleInternal/Library/BuildRoots/226e9c8c-edb1-11ee-8f17-a65dcee5a99e/Library/Caches/com.apple.xbs/Sources/python3/altgraph-0.17.2-py2.py3-none-any.whl
attrs==23.1.0
boto3==1.28.84
botocore==1.31.84
cffi==1.16.0
comtypes==1.2.0
contourpy==1.2.0
cycler==0.12.1
flatbuffers==23.5.26
fonttools==4.47.0
future @ file:///AppleInternal/Library/BuildRoots/226e9c8c-edb1-11ee-8f17-a65dcee5a99e/Library/Caches/com.apple.xbs/Sources/python3/future-0.18.2-py3-none-any.whl
importlib-resources==6.1.1
jmespath==1.0.1
kiwisolver==1.4.5
macholib @ file:///AppleInternal/Library/BuildRoots/226e9c8c-edb1-11ee-8f17-a65dcee5a99e/Library/Caches/com.apple.xbs/Sources/python3/macholib-1.15.2-py2.py3-none-any.whl
matplotlib==3.8.2
mediapipe==0.10.9
numpy==1.26.2
opencv-contrib-python==4.8.1.78
opencv-python==4.8.1.78
osascript==2020.12.3
packaging==23.2
Pillow==10.1.0
protobuf==3.20.3
psutil==5.9.7
pycaw==20230407
pycparser==2.21
pygame==2.6.0
pyparsing==3.1.1
python-dateutil==2.8.2
runcmd==2020.12.3
s3transfer==0.7.0
six @ file:///AppleInternal/Library/BuildRoots/226e9c8c-edb1-11ee-8f17-a65dcee5a99e/Library/Caches/com.apple.xbs/Sources/python3/six-1.15.0-py2.py3-none-any.whl
sounddevice==0.4.6
urllib3==1.26.18
zipp==3.17.0
